<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/register_patient">Регистрация пациента</a></li>
                <li><a href="/view_patients">Просмотр пациентов</a></li>
                <li><a href="/refer_patient">Направление пациента</a></li>
                <li><a href="/view_referrals">Просмотр направлений</a></li> 
            </ul>
        </nav>
    </header>
    <h1>Добро пожаловать!</h1>
</body>
</html>
