<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Просмотр информации о пациенте</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
<!--                <li><a href="/register_patient">Регистрация пациента</a></li>-->
<!--                <li><a href="/view_patients">Просмотр пациентов</a></li>-->
                {% include 'header.html' %}
            </ul>
        </nav>
    </header>
    <h1>Информация о пациенте</h1>
    <form method="post">
        <label for="first_name">Имя:</label><br>
        <input type="text" id="first_name" name="first_name" value="{{ patient[1] }}" required><br><br>

        <label for="last_name">Фамилия:</label><br>
        <input type="text" id="last_name" name="last_name" value="{{ patient[2] }}" required><br><br>

        <label for="patronymic">Отчество:</label><br>
        <input type="text" id="patronymic" name="patronymic" value="{{ patient[3] }}"><br><br>

        <label for="passport_number">Номер и серия паспорта:</label><br>
        <input type="text" id="passport_number" name="passport_number" value="{{ patient[4] }}" required><br><br>

        <label for="birth_date">Дата рождения:</label><br>
        <input type="date" id="birth_date" name="birth_date" value="{{ patient[5] }}" required><br><br>

        <label for="gender">Пол:</label><br>
        <select id="gender" name="gender" required>
            <option value="Male" {% if patient[6] == 'Male' %} selected {% endif %}>Мужской</option>
            <option value="Female" {% if patient[6] == 'Female' %} selected {% endif %}>Женский</option>
            <option value="Other" {% if patient[6] == 'Other' %} selected {% endif %}>Другой</option>
        </select><br><br>

        <label for="address">Адрес:</label><br>
        <input type="text" id="address" name="address" value="{{ patient[7] }}" required><br><br>

        <label for="phone_number">Телефонный номер:</label><br>
        <input type="tel" id="phone_number" name="phone_number" value="{{ patient[8] }}" required><br><br>

        <label for="email">Электронный адрес:</label><br>
        <input type="email" id="email" name="email" value="{{ patient[9] }}" required><br><br>

        <label for="medical_card_number">Номер медицинской карты:</label><br>
        <input type="text" id="medical_card_number" name="medical_card_number" value="{{ patient[10] }}" required><br><br>

        <label for="medical_card_issue_date">Дата выдачи медицинской карты:</label><br>
        <input type="date" id="medical_card_issue_date" name="medical_card_issue_date" value="{{ patient[11] }}" required><br><br>

        <label for="last_visit_date">Дата последнего обращения:</label><br>
        <input type="date" id="last_visit_date" name="last_visit_date" value="{{ patient[12] }}"><br><br>

        <label for="next_visit_date">Дата следующего визита:</label><br>
        <input type="date" id="next_visit_date" name="next_visit_date" value="{{ patient[13] }}"><br><br>

        <label for="insurance_policy_number">Номер страхового полиса:</label><br>
        <input type="text" id="insurance_policy_number" name="insurance_policy_number" value="{{ patient[14] }}"><br><br>

        <label for="insurance_policy_expiry_date">Дата окончания страхового полиса:</label><br>
        <input type="date" id="insurance_policy_expiry_date" name="insurance_policy_expiry_date" value="{{ patient[15] }}"><br><br>

        <label for="diagnosis">Диагноз:</label><br>
        <input type="text" id="diagnosis" name="diagnosis" value="{{ patient[16] }}"><br><br>

        <label for="medical_history">История болезни:</label><br>
        <textarea id="medical_history" name="medical_history">{{ patient[17] }}</textarea><br><br>

        <input type="submit" value="Сохранить изменения">
    </form>
</body>
</html>
