<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Просмотр направлений</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
<!--                <li><a href="/register_patient">Регистрация пациента</a></li>-->
<!--                <li><a href="/view_patients">Просмотр пациентов</a></li>-->
<!--                <li><a href="/refer_patient">Направление пациента</a></li>-->
                {% include 'header.html' %}
            </ul>
        </nav>
    </header>
    <h1>Просмотр всех направлений</h1>

</body>
</html>
